.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.text {
  font-size: 12px;
}
