.wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s ease-out;
  color: var(--primary-color);
}

.icon {
  --size: 40px;
  width: var(--size);
  height: var(--size);
}

.title {
  font-size: 25px;
}

@media (hover: hover) and (pointer: fine) {
  .wrapper:hover {
    color: var(--light);
  }
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 20px;
  }
}
